//
// Recife
//

.recife {
  .slide-header {
    h1 {
      color: #C79C60;
    }
  }
}

//
// Porto
//

.porto {
  .slide-header {
    h1 {
      color: #CB181F;
    }
  }
}

//
// Commons
//

.slide-content {
  color: #292929;
}

.slick-arrow {
  background-color: #FFF;
}

.slick-dots {
  li {
    background: #FFF;
  }
}